:root {
  /* Cores principais */
  --cor-primaria: #6528d3;
  --cor-primaria-hover: #834de8;
  
  /* Cores neutras */
  --cor-neutra-clara: #ffffff;
  --cor-neutra-escura: #111111;
  --cor-cinza-escura: #29272a;
  --cor-cinza-clara: #ededed;
  --cor-roxa-clara: #bca2ed;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--cor-neutra-escura);
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header" 
        "main" 
        "footer";
}