:root {
    --cor-neutra-escura: #111111;
    --cor-neutra-clara: #ffffff;
    --cor-primaria-hover: #834de8;
    --cor-primaria: #6528d3;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--cor-neutra-escura);
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header" 
        "main" 
        "footer";
}